.jumbotron{
    color: rgba(0, 51, 102, 1);
}
img {
    position: relative;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
}
