body{
    font-family: 'Ubuntu', sans-serif;
}
.jumbotron{
    color: rgb(15, 22, 29);
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
span{
    padding: 0px 10px 0px 10px;
    color: aliceblue;
}
#profile_img{
    position: relative;
    border-radius: 50%;
    height: 400px;
    width: 400px;
}

#portfolio_img{
    position: relative;
    border-radius: 50%;
    height: 400px;
    width: 400px;
}

#resume_img{
    position: relative;
    border-radius: 50%;
    height: 400px;
    width: 400px;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
}

.carousel-item{
    background-color: black;
}

#contentContainer{
    background-color: rgba(20, 20, 26, 0.4);
}

#footer .navbar .navbar-nav{
    display: inline-block;
    float:none;
    text-align: center;
}

@media only screen and (max-width: 600px) {

    #profile_img{
        position: relative;
        border-radius: 50%;
        height: 300px;
        width: 300px;
    }
    
    #portfolio_img{
        position: relative;
        border-radius: 50%;
        height: 300px;
        width: 300px;
    }
    
    #resume_img{
        position: relative;
        border-radius: 50%;
        height: 300px;
        width: 300px;
    }
  }

